.nav-item {
    padding-right: 25px;
}

.nav-item-left{
padding-left: 25px;
}

.nav-wrapper-left{
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

.nav-wrapper-right{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.nav-container{
    display: flex;
}